.section3-container{
    width: 100%;
    height: 100vh;
   

   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(2  , 1fr);
   justify-items: center;
   align-items: center;
 
  
}


.card-container{
    width: 80%;
    height: 50%;
  
}

@media screen and (max-width : 800px){
    .section3-container{
        grid-template-columns: 1fr;
        overflow-y: scroll;
    }

    .card-container{
        width: 90%;
        height: 30%;
    }
}

