@import './components/navbar.css';
@import './components/section1.css';
@import './components/section2.css';
@import './components/section4.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, *{
    font-size: 16px;
    box-sizing: border-box;
    
    
}
html{
    scroll-behavior: smooth;
}